{% extends "base1.html" %}
{% load static %}

{% block title %}Detail{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row g-4">
        <div class="col-md-12 col-lg-9">
            <img src="{{ item.image_url }}" class="img-fluid rounded-xl">
        </div>

        <div class="col-md-12 col-lg-3 bg-light p-3 p-md-4 rounded-xl">
            <h1 class="mb-3 mb-md-4 h4">{{ item.name }}</h1>
            <p class="text-muted"><strong>Price: </strong>{{ item.price }}</p>
            <a href="{% url 'profile' item.created_by.id %}" class="d-block mb-3">{{ item.created_by.username }}</a>

            {% if item.description %}
                <p class="text-dark">
                    <strong class="text-muted">Description:</strong><br>
                    {{ item.description }}
                </p>
            {% endif %}

            {% if request.user == item.created_by %}
                <div class="mt-4 p-3 p-md-4 bg-white rounded-xl">
                    <p>This is your item!</p>
                    <a href="{% url 'item:edit' item.id %}" class="btn btn-danger mt-3">Edit</a>
                    <a href="{% url 'item:delete' item.id %}" class="btn btn-danger mt-3">Delete</a>
                </div>
            {% else %}  
                <a href="{% url 'conversation:new' item.id %}" class="btn btn-primary mt-4 d-block">Contact seller</a>
            {% endif %}
        </div>
    </div>

    <div class="mt-4 px-3 px-md-4 py-3 py-md-4 bg-light rounded-xl">
        <h2 class="mb-3 mb-md-4 h5 text-center">Related items</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for item in related_items %}
                <div class="col">
                    <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                        <div class="card">
                            <img src="{{ item.image_url }}" class="card-img-top rounded-xl" alt="{{ item.name }}">
                            <div class="card-body">
                                <h2 class="card-title h6">{{ item.name }}</h2>
                                <p class="card-text text-muted">Price: {{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
